a {
  color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 10%);
  }
}

.btn-primary {
  color: black;
  border-color: #757575;
  background-color: #757575;
  &:hover,
  &:focus,
  &:active {
    color: black;
  }
}

.btn-secondary {
  color: white;
  border-color: #757575;
  background-color: #757575;
  &:hover,
  &:focus,
  &:active {
    color: black;
  }
}

.btn-dark {
  color: $white !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}
